
<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="home" size="24"></clr-icon>
        <span class="title">Gemography</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link nav-text" [routerLink]="['login']">
        <span class="title">Login</span>
      </a>      
      <a class="active nav-link nav-text" [routerLink]="['/']">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <gemography-side-nav [IsLoggedIn]="isLoggedIn"></gemography-side-nav>
    </nav>
  </div>
  <clr-modal [(clrModalOpen)]="show_login">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <gemography-login></gemography-login>
    </div>
    <div class="modal-footer">
        <button type="button"class="btn btn-outline" (click)="show_login = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="show_login = false">Ok</button>
    </div>
  </clr-modal>
</div>
