<div>
    <clr-datagrid [(clrDgSelected)]="selected">
        <clr-dg-action-bar>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add
                    to group</button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" ><clr-icon shape="close"></clr-icon> Delete</button>
                <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selected.length === 1"><clr-icon shape="pencil"></clr-icon> Edit</button>
            </div>
            <div class="btn-group">
                <clr-dropdown>
                    <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
                        Export
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" (click)="onExportAll()" clrDropdownItem>Export All</button>
                        <button type="button" (click)="onExportSelected()" [disabled]="selected.length === 0" clrDropdownItem>Export Selected Items</button>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </clr-dg-action-bar>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Description</clr-dg-column>
        <clr-dg-column>Url</clr-dg-column>
        <clr-dg-row *clrDgItems="let repo of repos" [clrDgItem]="repo">
          <clr-dg-cell>{{repo.name}}</clr-dg-cell>
          <clr-dg-cell>{{repo.description}}</clr-dg-cell>
          <clr-dg-cell><a [routerLink]='["/repos", repo.owner.login, repo.name]'>{{repo.html_url}}</a></clr-dg-cell>
        </clr-dg-row>
    <-- ... -->
    </clr-datagrid>
  <button (click)="pushRepos()">Inverse</button>
</div>
